= form_for @application do |f|
  - if @application.errors.any?
    #error_explanation
      %h2= "#{pluralize(@application.errors.count, "error")} prohibited this application from being saved:"
      %ul
        - @application.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', placeholder: 'GMail'
  .form-group
    = f.label :url
    = f.text_field :url, class: 'form-control', placeholder: 'http://mail.google.com'
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control', placeholder: 'email application'
  .form-actions
    - if @application.new_record?
      = f.submit 'Create', class: 'btn btn-primary btn-success'
    - else
      = f.submit 'Save', class: 'btn btn-primary'
