= content_for :title do
  %h2
    Listing applications
    .pull-right
      = link_to 'New Application', new_application_path, class: 'btn btn-success'

= form_tag applications_path, class: 'form-inline', method: :get do
  = text_field_tag :search, params[:search], class: 'span4'
  = submit_tag 'Search', class: 'btn'

%table.table
  %tr
    %th Title
    %th Url
    %th Description
    %th

  - @applications.each do |application|
    %tr
      %td
        %i.icon-star-empty.cgray
        = link_to application_path(application) do
          %strong= application.title
        %small.cgray
          (#{application.passwords.count})
      %td
        %small
          = link_to application.url, application.url
      %td
        %small.cgray
          = application.description
      %td
        .pull-right
          = link_to 'Edit', edit_application_path(application), class: 'btn btn-small'
          &nbsp;
          = link_to 'Destroy', application, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-small btn-danger'

%br

