%h2
  Listing applications
  = link_to 'New Application', new_application_path, class: 'btn btn-primary pull-right'

= form_tag applications_path, class: 'form-inline', method: :get do
  = text_field_tag :search, params[:search]
  = submit_tag 'Search', class: 'btn'

%table.table
  %tr
    %th Title
    %th Url
    %th Description
    %th

  - @applications.each do |application|
    %tr
      %td
        = link_to application_path(application) do
          %strong= application.title
      %td= application.url
      %td= application.description
      %td
        = link_to 'Edit', edit_application_path(application)
        \|
        = link_to 'Destroy', application, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

