%h2
  Apps
  %i.icon-angle-right
  = @application.title

  = link_to 'Edit', edit_application_path(@application), class: 'pull-right btn'

.ui-block
  %p
    = link_to @application.url, @application.url
  %p
    = @application.description


%h3
  Passwords:
  = link_to 'New Password', new_application_password_path(@application), class: 'btn pull-right'

= render 'passwords/list'
