%h3
  Application:
  #{@application.title}

  = link_to 'Edit', edit_application_path(@application), class: 'pull-right btn'

.well
  %p
    %b Url:
    = link_to @application.url, @application.url
  %p
    %b Description:
    = @application.description


%h3
  Passwords:
  = link_to 'New Password', new_application_password_path(@application), class: 'btn pull-right'

= render 'passwords/list'
