.ui-block
  %p.lead Security check. We need your password to proceed
  = form_tag password_check_path do
    - if @error.present?
      .alert.alert-error
        %span= @error

    .form-group
      = label_tag :password
      = password_field_tag :password, nil, class: 'form-control'
    .form-group
      = hidden_field_tag :redirect_to, params[:redirect_to]
    .form-group
      = submit_tag "Submit", class: 'btn btn-primary'
