%h2
  #{link_to @application.title, @application} &rarr; #{@password.title}

%p
  %b Title:
  = @password.title
%p
  %b Description:
  = @password.description
%p
  %b Password:
  %code
    = @password.decrypted_password

%hr
= link_to 'Edit', edit_application_password_path(@application, @password)
\|
= link_to 'Back', application_passwords_path(@application)
