%h2
  = link_to 'Apps', applications_path
  %i.icon-angle-right
  = link_to @application.title, @application
  %i.icon-angle-right
  = @password.title

%p.cgray
  = @password.description


%h5 Your password:
.ui-block
  .password
    = @password.decrypted_password

%hr
= link_to 'Edit', edit_application_password_path(@application, @password), class: 'btn'
