!!! 5
%html
  %head
    %title= "Your Website"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-static-top
      .navbar-inner
        .container
          = link_to root_path, class: 'brand' do
            PassTy
          %ul.nav.nav-pills.pull-right
            - if current_user
              %li
                = image_tag current_user_gravatar(40)
              %li
                = link_to "Account", edit_user_registration_path
              %li
                = link_to 'New Application', new_application_path
              %li
                = link_to destroy_user_session_path, method: 'delete' do
                  %i.icon-signout
                  Log Out
            - else
              %li= link_to "Sign In / Sign Up", new_user_session_path

    .container
      .content
        = yield
