!!! 5
%html
  %head
    %title= "PassTy"
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    .wrap
      .navbar.navbar-default.navbar-static-top
        .container
          .navbar-header
            = link_to root_path, class: 'navbar-brand' do
              PassTy
          .nav-stuff
            %ul.nav.navbar-nav.pull-right
              - if current_user
                %li
                  = link_to new_application_path do
                    %i.icon-plus
                    New Application
                %li
                  = image_tag current_user_gravatar(40), class: 'avatar'
                %li
                  = link_to "Account", edit_user_registration_path
                %li
                  = link_to destroy_user_session_path, method: 'delete' do
                    %i.icon-signout
                    Log Out
              - else
                %li= link_to "Sign In / Sign Up", new_user_session_path

      - if content_for? :title
        .container.title-container
          .content
            = yield :title
        %hr.title-line

      .container
        .content
          - if notice
            .alert.alert-info
              %span
                = notice
          - if alert
            .alert
              %span
                = alert

          = yield


    .footer
      .container
        %small.pull-right.cgray
          Version: #{Passty::VERSION}
          Revision: #{Passty::REVISION}
